snippet 'dq "Double Quotes" i
"${1}"
endsnippet

snippet 'sq "Single Quotes" i
'${1}'
endsnippet

snippet '( "Parentheses" i
(${1})
endsnippet

snippet '[ "Square Brackets" i
[${1}]
endsnippet

snippet '{ "Curly Braces" i
{${1}}
endsnippet


