snippet div "div (default block)"
<div>
  ${1}
</div>
endsnippet

snippet divl "inline div"
<div>${1}</div>
endsnippet

snippet divb "block div"
<div>
  ${1}
</div>
endsnippet

snippet span "span (default inline)"
<span>${1}</span>
endsnippet

snippet spanl "inline span"
<span>${1}</span>
endsnippet

snippet spanb "block span"
<span>
  ${1}
</span>
endsnippet

snippet class "class attributes"
class="${1}"
endsnippet
