snippet sig
/**
 * ${1:description}
 * ${2}
**/
${3}
endsnippet

snippet param
@param {${1:Function}} ${2:callback}
endsnippet

snippet clog
console.log($1);
endsnippet

snippet cerr
console.error($1)
endsnippet

snippet for
for (${1}; ${2}; ${3}) {
  ${4}
}
endsnippet

snippet us
'use strict';
endsnippet

snippet describe
describe("${1}", function() {
  ${2}
});
endsnippet

snippet it
it("${1}", function() {
  ${2}
});
endsnippet

snippet itn
it("${1}");
endsnippet
