; +---------------------------------------------------------
; | Description: global git configuration
; | Author: James Lawson
; | Licence: MIT
; +---------------------------------------------------------
;
; +---------------------------------------------------------
; |- DEPENDENCIES
; +---------------------------------------------------------
; [*]: Requires v2.6.3+ of git

[user]
	name = James Lawson
	email = jameslawson@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /Users/james/.git-excludesfile
	hooksPath = /Users/james/.git-templates/hooks
[alias]
	st = status
	ci = commit
	co = checkout
	s = status -s
	lg = log --oneline --decorate --all --graph
	d = difftool
	ci = commit

[url "https://"]
	insteadOf = git://
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
