; +---------------------------------------------------------
; | Description: global git configuration
; | Author: James Lawson
; | Licence: MIT
; +---------------------------------------------------------
;
; +---------------------------------------------------------
; |- DEPENDENCIES
; +---------------------------------------------------------
; [*]: Requires v2.6.3+ of git

[user]
	name = James Lawson
	email = jameslawson@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /Users/james/.git-excludesfile
	hooksPath = /Users/james/.git-templates/hooks
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	st = status
	ci = commit
	co = checkout
	s = status -s
	lg = log --oneline --decorate --all --graph
	d = difftool
	ci = commit

[url "https://"]
	insteadOf = git://
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
